<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiveVideoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63B2D4E81D9112EC00CA2339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63B2D5011D9112ED00CA2339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63B2D50C1D9112ED00CA2339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
